@media only screen and (max-width: 768px) {
  .header-logo svg{
    width: 20vw;
  }

  .title.big{
    font-size: 14.7vw;
  }

  .title.medium{
    font-size: 10vw;
    line-height: 1em;
  }

  header{
    padding: 20px 0px;

    .intro{
      display: none;
    }
    .select-theme{
      display: none;
    }
  }


  .hero.front-page{
    height: auto;
    padding-left: 15px;
    padding-right: 15px;

    .information-hero{
      position: relative;
      left: auto;
      bottom: auto;
      padding-top: 100px;
      width: 100%;
      padding-bottom: 30px;
    }
    .push-hero{
      display: none;
    }
  }


  // Strates

  .strate-background-grey{
    .container-text-strate{
      padding: 60px 0;
    }
    .container-image{
      position: relative;
      width: 100%;
    }
  }

  .strate-metiers-list{
    margin-bottom: 60px;
  }
  .strate-metiers-list .container-list-metiers{
    padding-right: 0;
    width: 100%;
    text-align: center;

    .list-metiers{
      font-size: 7vw;
      line-height: 7vw;

      .small{
        font-size: 4.3vw;
      }
    }

    .container-image{
      display: none;

      &.native{
        display: none;
      }
    }
  }

  .strate-slider .intro-slide{
    padding-left: 0;
    padding-right: 0;
  }
  .strate-slider .container-link-all a{
    margin-left: 0;
  }

  .case-carrousel{
    .slick-arrow{
      display: none!important;
    }
    .slick-dots{
      margin-top: 0;
    }
  }

  .header-logo svg{
    width: auto;
  }

  .is-scrolled header{
    padding-left: 0;
    padding-right: 0;
  }

  button.navigation:before{
    display: none;
  }


  .strate-reassurance{
    padding: 60px 0;

    .item-reassurance{
      margin-bottom: 30px;
    }
  }

  .loader-container .percent-number{
    font-size: 19px;

    &:after{
      font-size: 16px
    }
  }


  .hero.not-front-page{
    padding-left: 0;
    padding-right: 0;

    .title.big{
      font-size: 12.7vw;
      line-height: 13vw;
    }
  }

  .navigation-sub-page{
    padding: 0px 0;

    li{
      &:last-child{
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  .ariane{
    padding: 30px 0;
  }

  .strate-text-defilement,
  .case-carrousel,
  .strate-image-full{
    margin-bottom: 50px;
  }

  .page-template-contenu .strate-reassurance{
    padding: 30px 15px;
    margin-bottom: 50px;
  }

  .strate-two-image-text{
    margin-bottom: 50px;
    .image-1{
      margin-bottom: 30px;
    }
    .image-2{
      max-width: 100%;
      width: 100%;
    }
  }

  .strate-iframe{
    margin-bottom: 50px;
    iframe{
      height: 50vw;
    }
  }


  header .list-menus ul{
    margin: 0;
    width: 100%;

    li{
      margin: 0;
      margin-bottom: 30px;
      display: block;

      ul{
        li{
          margin-bottom: 0;
        }
      }
    }
  }

  .is-scrolled header{
    padding: 7px 0 0;
  }

  button.navigation{
    transform: scale(.75);
  }

  .multiple-links li{
    margin-right: 0;
  }
  .link.small-border{
    display: block;
    margin-bottom: 20px;
  }

  .multiple-links{
    .link.small-border:before{
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .link.small-border{
    &:before{
      width: 50px;
    }
  }

  header .logo{
    width: 110px;
    margin-top: 9px;
  }

  .navigation-container{
    padding: 100px 0;
    .align-container-menu{
      overflow: auto;
      display: block;
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  .form .container-uploads{
    padding: 65px 30px 40px;
  }

  footer{
    text-align: center;

    .header-logo{
      margin-bottom: 30px;
      display: block;
    }
    .small{
      margin-bottom: 30px;
    }
    .text-right{
      text-align: center!important;
    }
  }


  .popin-call .content-popin .step-1:after{
    display: none;
  }

  .info-bulle{
    left: 15px;
    bottom: 15px;

    .text-bulle{
      display: none;
    }
  }

  .popin-call .content-popin{
    padding: 0;
    height: 100%;
    overflow: auto;
    padding-top: 60px;
    top: 0;
    transform: translate(0);
    left: 0;
    padding-bottom: 30px;

    .form{
      margin-bottom: 20px;
    }

    .container-item{
      padding: 0 15px;
      margin-bottom: 20px;
      .title.small{
        margin-top: 0;
      }
    }
  }

}
